services:
  zookeeper:
    image: confluentinc/cp-zookeeper:6.2.4
    healthcheck:
      test: [ "CMD", "nc", "-vz", "localhost", "2181" ]
      interval: 10s
      timeout: 3s
      retries: 3
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 22181:2181
    networks:
      - app-network

  kafka:
    image: confluentinc/cp-kafka:6.2.4
    healthcheck:
      test: [ "CMD", "nc", "-vz", "localhost", "9092" ]
      interval: 10s
      timeout: 3s
      retries: 3
    ports:
      - 29092:29092
    depends_on:
      zookeeper:
        condition: service_healthy
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181 
      KAFKA_LISTENERS: OUTSIDE://:29092,INTERNAL://:9092
      KAFKA_ADVERTISED_LISTENERS: OUTSIDE://localhost:29092,INTERNAL://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,OUTSIDE:PLAINTEXT  
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL                                  
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1                                   
    networks:
      - app-network

  discovery-service:
    build: 
      context: ../discovery-service
      dockerfile: Dockerfile
    container_name: discovery-service
    depends_on:
      kafka:
        condition: service_healthy
    healthcheck:
      test: curl http://localhost:8761/actuator/health
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 15s
    ports:
      - "8761:8761"
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network

  user-service-db:
    image: postgres:17
    container_name: user-service-db
    environment:
      POSTGRES_DB: user_service
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432" 
    volumes:
      - user_postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  user-service:
    build: 
      context: ../user-service
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - "8081:8081"
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - DB_URL_DOCKER=${DB_URL_DOCKER_USER_SERVICE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
    depends_on:
      discovery-service:
        condition: service_healthy
      user-service-db:
        condition: service_started
      redis:
        condition: service_started
    networks:
      - app-network

  auth-service-db:
    image: postgres:17
    container_name: auth-service-db
    environment:
      POSTGRES_DB: auth_service
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432" 
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  auth-service:
    build: 
      context: ../auth_service
      dockerfile: Dockerfile
    container_name: auth-service
    ports:
      - "8082:8082"
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - DB_URL_DOCKER=${DB_URL_DOCKER_AUTH_SERVICE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
    depends_on:
      discovery-service:
        condition: service_healthy
      auth-service-db:
        condition: service_started
    networks:
      - app-network

  order-service-db:
    image: postgres:17
    container_name: order-service-db
    environment:
      POSTGRES_DB: order_service
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5434:5432" 
    volumes:
      - order_postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  order-service:
    build: 
      context: ../order_service
      dockerfile: Dockerfile
    container_name: order-service
    ports:
      - "8083:8083"
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - DB_URL_DOCKER=${DB_URL_DOCKER_ORDER_SERVICE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - KAFKA_URL=${KAFKA_URL}
    depends_on:
      discovery-service:
        condition: service_healthy
      order-service-db:
        condition: service_started
    networks:
      - app-network

  api-gateway:
    build: .
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    restart: on-failure
    depends_on:
      discovery-service:
        condition: service_healthy
      user-service:
        condition: service_started
      auth-service:
        condition: service_started
      order-service:
        condition: service_started
    networks:
      - app-network

  payment-service-mongo-db:
    image: mongo:7.0
    container_name: payment-service-mongo-db
    environment:
      MONGO_INITDB_DATABASE: payment_service
    ports:
      - "27017:27017"
    volumes:
      - payment_mongo_data:/data/db
    networks:
      - app-network
    
  payment-service:
    build: 
      context: ../payment_service
      dockerfile: Dockerfile
    container_name: payment-service
    environment:
      - DB_HOST_PAYMENT=${DB_HOST_PAYMENT}
      - DB_PORT_PAYMENT=${DB_PORT_PAYMENT}
      - DB_DATABASE_PAYMENT=${DB_DATABASE_PAYMENT}
      - KAFKA_URL=${KAFKA_URL}
    ports:
      - "8086:8086"
    depends_on:
      discovery-service:
        condition: service_healthy
      payment-service-mongo-db:
        condition: service_started
    networks:
      - app-network


volumes:
  user_postgres_data:
  auth_postgres_data:
  order_postgres_data:
  redis_data:
  payment_mongo_data:

networks:
  app-network:
    driver: bridge